body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* underlines the title of each task  */
.underline {
  text-decoration: underline;
 }
 
 /* changes the color of the header and footer when the
 user drags the card through each field  */
 .card-header.blue, .card-footer.blue {
  background-color: rgb(3, 95, 125) !important;
 }
 
 
 .card-header.green, .card-footer.green {
  background-color: rgb(0, 78, 0) !important;
 }
 